body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    text-align: center;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.row{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}
.square{
    width: 80px;
    height: 80px;
    border: none;
    background-color: grey;
    outline: none;
    font-size: 50px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
}
.result{
    text-align: center;
    font-size: 36px;
}
.boton{
    width: 170px;
    height: 60px;
    border-radius: 16px;
    border: none;
    background-color: rgb(103, 132, 61);
    font-size: 32px;
    color: #fff;
}
.boton:hover{
    border: 3px solid rgb(103, 132, 61);
    background-color: #ffffff;
    color: rgb(103, 132, 61);
    cursor: pointer;
}


.green{
    background-color: rgb(54, 182, 54);
}
.gold{
    background-color: goldenrod;
}
.gray{
    background-color: rgb(163, 162, 162);
}