body{
    background-color: rgb(89, 55, 102);
}
button{
    background-color: aliceblue;
    color: black;
    border-radius: 45px;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 800;
    border: none;
}
.top{
    display: flex;
    justify-content: space-around;
}
.mazo{
    display: flex;
}
.thing{
    display: flex;
}
.bottom {
    display: flex;
    justify-content: center;
}
.space-cart{
    border: 2px solid rgb(203, 203, 203);
    width: 97px;
    height: 151px;
    margin: 10px;
    position: relative;
}
.img{
    width: 97px;
    height: 151px;
}
.cart{
    position: absolute;
    border: 1px solid #ffffff;
    border-radius: 7px;
    height: 153px;
}
.cart-mazo {
    position: relative;
    height: 151px;
    z-index: 1;
}
.pila-inicial {
    position: absolute;
}